body {
  margin-top: 100px;
  font-family: 'Noto Sans TC', sans-serif;
}
img {
  margin-top: 1rem;
  width: 10%;
  height: auto;
}
form {
  width: 400px;
  position: relative;
}
input {
  width: 100%;
  padding: 5px;
}
.cut-btn {
  margin-top: 50px;
  width: 100px;
}
.copy-btn {
  margin-top: 30px;
  width: 100px;
}
.cut-btn:hover, .copy-btn:hover {
  background-color: #999999;
}

.copy-box p {
  margin-top: 10px;
  display: none;
  color: red;
}

.message {
  position: absolute;
  color: red;
  top: 40px;
  left: 10px;
}
a.go-back {
  color: #999999;
}

