<div class="success mt-5 d-flex flex-column align-items-center">
  <h5>使用成功！請使用以下連結</h5>
  <a class="d-block" href="https://example/{{shortUrl}}">https://example/{{shortUrl}}</a>

  <button class="copy-btn">複製連結</button>
  <a class="mt-4 go-back" href="/">返回前頁</a>

</div>